.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
dev_tests.R
data
cache
reports/province_reports
reports/south_area_reports
reports/south_coast_reports
reports/west_coast_reports
reports/north_area_reports
misc
